@import url("bootstrap/dist/css/bootstrap.min.css");

@font-face {
  font-family: "Mazzard-H";
  src: url("./fonts/Mazzard/MazzardH-Bold.otf") format("woff"),
    url("./fonts/Mazzard/MazzardH-Bold.otf") format("opentype"),
    url("./fonts/Mazzard/MazzardH-Bold.otf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Mazzard-H";
  src: url("./fonts/Mazzard/MazzardH-Black.otf") format("woff"),
    url("./fonts/Mazzard/MazzardH-Black.otf") format("opentype"),
    url("./fonts/Mazzard/MazzardH-Black.otf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Mazzard-H";
  src: url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("woff"),
    url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("opentype"),
    url("./fonts/Mazzard/MazzardH-ExtraBold.otf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "BeVietnam";
  src: url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "BeVietnam";
  src: url("./fonts/BeVietnam/BeVietnam-Bold.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-Bold.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "BeVietnam";
  src: url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "BeVietnam";
  src: url("./fonts/BeVietnam/BeVietnam-SemiBold.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-SemiBold.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "BeVietnam";
  src: url("./fonts/BeVietnam/BeVietnam-Regular.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-Regular.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "BeVietnam";
  src: url("./fonts/BeVietnam/BeVietnam-Light.ttf") format("tff"),
    url("./fonts/BeVietnam/BeVietnam-Light.ttf") format("opentype"),
    url("./fonts/BeVietnam/BeVietnam-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald/Oswald-Medium.ttf") format("tff"),
    url("./fonts/Oswald/Oswald-Medium.ttf") format("opentype"),
    url("./fonts/Oswald/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald/Oswald-Bold.ttf") format("tff"),
    url("./fonts/Oswald/Oswald-Bold.ttf") format("opentype"),
    url("./fonts/Oswald/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
}

a {
  text-decoration: none;
}
input::placeholder,
textarea::placeholder {
  color: #b38f00;
}

input,
textarea {
  background-color: #ffcc004d;
}
input:invalid:focus,
textarea:invalid:focus {
  border: 2px solid red;
  background-color: white;
}
input:valid {
  border: 1px solid black;
}
input:hover,
textarea:hover {
  background-color: white;
}

.long-button {
  border-radius: 1em;
  border: none;
  transition: 200ms;
  background-color: #ffcc00;
}

.long-button:hover {
  transition: 200ms;
  background-color: #ffcc00ca;
}

html,
body {
  height: 100%;
}

.aff-org-card-link {
  font-family: "BeVietnam", sans-serif;
  font-weight: 800;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  transition: 0.2s;
}

/* #region Overrided Bootstrap styles for navbar */
.navbar-light .navbar-nav .nav-link {
  color: #ffcc00; /* nav headers font style */
  font-family: "BeVietnam";
  font-weight: 800;
  font-size: 1.5em;
}
.navbar .nav-link:hover {
  transition: 0.2s;
  color: #fa8d1f;
}
.navbar .nav-link:active {
  transition: 0.2s;
  color: black;
}
.nav-link::after {
  content: none;
}

/* for donate button specifically */
.navbar-light .navbar-nav .donate-nav-link {
  color: #ffffff; /* nav headers font style */
  font-family: BeVietnam;
  font-weight: 800;
  font-size: 1.5em;
  padding: 0;
  display: flex;
  align-self: center;
  justify-self: center;
  transition: 0.2s;
}
.navbar .donate-nav-link:hover {
  color: #3399ff;
}
.navbar .donate-nav-link:active {
  color: #006bd6;
}
.donate-nav-item {
  border-radius: 1em;
  background-color: #3399ff;
  padding: 0em 2rem;
}
.donate-nav-item:hover {
  background-color: #70b8ff;
}

/* for dropdowns */
.dropdown-item {
  color: #fa8d1f; /* font styling for dropdown text */
  font-family: "BeVietnam";
  font-weight: 800;
  background-color: #ffdb4d;
  font-size: 1.2em;
  transition: 0.2s;
}
.dropdown-item:hover {
  background-color: #ffcc00;
  color: #c06204;
}
.dropdown-item:active {
  background-color: #ffcc00;
  color: black;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  border-radius: 15px;
  background-color: #ffdb4d;
}
/*#endregion*/

/* #region styling for pages like teacher positions */
.pos-container {
  border: 15px solid;
  border-radius: 0 0 15px 15px;
  margin: 0 0 40px 0;
  color: rgb(255, 204, 0, 0.5);
  border-color: rgb(255, 204, 0, 0.5);
}

.pos-container2 {
  border: 15px solid;
  border-radius: 0 0 15px 15px;
  margin: 0 0 40px 0;
  color: rgb(252, 175, 98, 0.5);
  border-color: rgb(252, 175, 98, 0.5);
}

.pos-container-button {
  background-color: #fa8d1f;
  transition: 200ms;
}

.pos-container-button:hover {
  background-color: #ffcc00;
}
/*#endregion*/

/* #region homepage styling */
.home-page-house-img {
  background-image: url("media/HoverImages/house_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 12.5rem;
  height: 8.5rem;
  transition: 200ms;
}
.home-page-house-img:hover {
  background-image: url("media/HoverImages/house_2.png");
}
.home-page-house-img + h1 {
  color: #3399ff;
  transition: 200ms;
}
.home-page-house-img:hover + h1 {
  color: #006bd6;
}

.home-page-apple-img {
  background-image: url("media/HoverImages/apple_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 7.5rem;
  height: 8.5rem;
  transition: 200ms;
}
.home-page-apple-img:hover {
  background-image: url("media/HoverImages/apple_2.png");
}
.home-page-apple-img + h1 {
  color: #70db94;
  transition: 200ms;
}
.home-page-apple-img:hover + h1 {
  color: #33cc66;
}

.home-page-world-img {
  background-image: url("media/HoverImages/world_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 8.5rem;
  height: 8.5rem;
  transition: 200ms;
}
.home-page-world-img:hover {
  background-image: url("media/HoverImages/world_2.png");
}
.home-page-world-img + h1 {
  color: #fcaf62;
  transition: 200ms;
}
.home-page-world-img:hover + h1 {
  color: #fa8d1f;
}
/* #endregion */

/* #region faq hover styling */
.faq-dropdown {
  background-color: #ffcc0080;
  color: #c06204;
  transition: 200ms;
}
.faq-dropdown:hover {
  background-color: #ffdb4d;
  color: #532f04;
}
/*#endregion*/

/* #region media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* text style on header blobs */
  .header-description-size {
    font-size: 13px;
  }
  .header-size {
    font-size: 27px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-description-size {
    font-size: 13px;
  }
  .header-size {
    font-size: 35px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-description-size {
    font-size: 15px;
  }
  .header-size {
    font-size: 43px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-description-size {
    font-size: 20px;
  }
  .header-size {
    font-size: 55px;
  }
  .aff-org-card-link:hover {
    transition: 0.2s;
    letter-spacing: 0.25em;
    text-decoration: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-size {
    font-size: 60px;
  }
}
/*#endregion*/
